<mat-toolbar class="nav">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Sekacor.</span>
  @if (authService.isLoggedIn()){
    <button mat-icon-button (click)="logOut()">
      <mat-icon>delete</mat-icon>
    </button>
  }
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav mode="over" #sidenav>
    <p><a href="#">Inicio</a></p>
    <p><a routerLink="/tanktypes">Tanques</a></p>
    <p><a href="/prices">Precios</a></p>
    <p><a href="/clients">Clientes</a></p>
    <p><a href="/consumables/primary">Insumos Primarios</a></p>
    <p><a href="/consumables/secondary">Insumos Secundarios</a></p>
    <p><a href="/production">Produccion</a></p>
    <p><a href="/production/history">Historial de tanques</a></p>
    <p><a href="/users/lists">Usuarios</a></p>
    <p><a href="/orders/new">nueva orden</a></p>
    <p><a href="/orders/all">Orders</a></p>
    <p><a href="/report/tanks">ReportTest</a></p>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

