<mat-toolbar color="primary" class="nav">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="logo-text" routerLink="/">Sekacor</a>


  <span class="spacer"></span>

  @if (authService.isLoggedIn()) {
    <span>{{ userName }}</span>
    <button mat-icon-button (click)="logOut()">
      <mat-icon>logout</mat-icon>
    </button>
  } @else {
    <button mat-icon-button (click)="logIn()">
      <mat-icon>login</mat-icon>
    </button>
  }
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav [autoFocus]="false">

    <mat-nav-list>
      <a mat-list-item routerLink="/tanktypes">
        <mat-icon matListItemIcon>inventory_2</mat-icon>
        Tanques
      </a>
      <a mat-list-item routerLink="/orders/all">
        <mat-icon matListItemIcon>assignment</mat-icon>
        Pedidos
      </a>
      <a mat-list-item routerLink="/consumables/primary">
        <mat-icon matListItemIcon>category</mat-icon>
        Insumos Primarios
      </a>
      <a mat-list-item routerLink="/consumables/secondary">
        <mat-icon matListItemIcon>science</mat-icon>
        Insumos Secundarios
      </a>
      <a mat-list-item routerLink="/production/history">
        <mat-icon matListItemIcon>history</mat-icon>
        Historial de tanques hechos
      </a>
      <a mat-list-item routerLink="/clients">
        <mat-icon matListItemIcon>person</mat-icon>
        Clientes
      </a>
      <a mat-list-item routerLink="/prices">
        <mat-icon matListItemIcon>attach_money</mat-icon>
        Lista de precios
      </a>
      <a mat-list-item routerLink="/users/lists">
        <mat-icon matListItemIcon>admin_panel_settings</mat-icon>
        Usuarios Sekacor
      </a>

      <a mat-list-item (click)="openTermsAndCondition()">
        <mat-icon matListItemIcon>gavel</mat-icon>
        Terminos y Condiciones
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

