.order-list-card {
  margin: 2rem auto;
  max-width: 1200px;
  padding: 1rem;
}
.table-wrapper{
  overflow-x: auto;
}
.spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
  min-width: 800px;
}

mat-card-headerr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}
mat-card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

mat-header-cell {
  padding: 0.75rem;
}

button[mat-mini-fab]{
  margin-left: 0.25rem;
}

mat-icon {
  font-size: 20px;
}
