<h2> Nuevo Tipo de Tanque</h2>

<mat-form-field appearance="outline">
  <!--nombre-->
  <mat-label>Nombre</mat-label>
  <input matInput>
</mat-form-field>
<!--  <mat-hint></mat-hint>-->
<!--capas-->
<mat-form-field appearance="outline">
  <mat-label>Capa</mat-label>
  <mat-select>
    <mat-option value="UNICAPA">Unicapa</mat-option>
    <mat-option value="BICAPA">Bicapa</mat-option>
    <mat-option value="TRICAPA">Tricapa</mat-option>
  </mat-select>
</mat-form-field>
<!--cantidad-->
<mat-form-field appearance="outline">
  <mat-label>Cantidad</mat-label>
  <input matInput type="number" min="0" step="0.01">
  <span matTextSuffix>Lts</span>
</mat-form-field>
<!--plastico negro-->
<mat-form-field appearance="outline">
  <mat-label>Plastico Negro</mat-label>
  <input matInput type="number" min="0" step="0.01">
  <span matTextSuffix>Kg</span>
</mat-form-field>
<!--plastico Color-->
<mat-form-field appearance="outline">
  <mat-label>Plastico Color</mat-label>
  <input matInput type="number" min="0" step="0.01">
  <span matTextSuffix>Kg</span>
</mat-form-field>
<!--tapa-->
<mat-form-field appearance="outline">
  <mat-label>Tipo de Tapa</mat-label>
  <mat-select>
    <mat-option value="ROSCA">Rosca</mat-option>
    <mat-option value="CALCE">Calce</mat-option>
  </mat-select>
</mat-form-field>
<!--tornillos-->
<mat-form-field appearance="outline">
  <mat-label>Tornillos</mat-label>
  <input matInput type="number" min="0">
</mat-form-field>
<!--costo-->
<mat-form-field appearance="outline">
  <mat-label>Costo</mat-label>
  <input matInput type="number" min="0" step="0.01">
  <span matTextPrefix>$</span>
</mat-form-field>
<!--Extras-->
<!--tee-->
<mat-checkbox class="example-margin">Tee</mat-checkbox>
<!--ramal-->
<mat-checkbox class="example-margin" [(ngModel)]="showRamal">Ramal</mat-checkbox>
@if (showRamal) {
  <mat-form-field appearance="outline">
    <mat-label>Tamaño</mat-label>
    <mat-select>
      <mat-option value="SMALL">50</mat-option>
      <mat-option value="MEDIUM">63</mat-option>
      <mat-option value="BIG">110</mat-option>
    </mat-select>
  </mat-form-field>
}
<!--o-ring-->
<mat-checkbox class="example-margin" [(ngModel)]="showORings">O-Rings</mat-checkbox>
@if (showORings) {
  <mat-form-field appearance="outline">
    <mat-label>Tamaño</mat-label>
    <mat-select>
      <mat-option value="SMALL">50</mat-option>
      <mat-option value="MEDIUM">63</mat-option>
      <mat-option value="BIG">110</mat-option>
    </mat-select>
  </mat-form-field>
}
<!--sticker-->
<mat-checkbox class="example-margin" [(ngModel)]="showSticker">Sticker</mat-checkbox>
@if (showSticker) {
  <mat-form-field appearance="outline">
    <mat-label>Tipo de Tapa</mat-label>
    <mat-select>
      <mat-option value="TANQUE">Tanque</mat-option>
      <mat-option value="CAMARA">Camara Septica</mat-option>
    </mat-select>
  </mat-form-field>
}
<!--tornillos grandes-->
<mat-checkbox class="example-margin" [(ngModel)]="showBigScrews">Tornillos Grandes</mat-checkbox>
@if (showBigScrews) {
  <mat-form-field appearance="outline">
    <mat-label>Tornillos Grandes</mat-label>
    <input matInput type="number" min="0">
  </mat-form-field>
}
