/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
  color:#212121;
}

*{
  box-sizing: border-box;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

mat-sidenav-container {
  height: calc(100vh - 56px); /* ajusta si tu toolbar es más alta */
}

button {
  /*min-width: 100px;*/
}

/* Mobile-friendly spacing */
.container, .content {
  padding: 1rem;
}

.mat-form-field {
  width: 100%;
  max-width: 500px;
  margin-bottom: 1rem;
}
.ngx-charts text {
  fill: #fff !important;
}
